.todoForm {
  display: flex;
  align-items: center;
  gap: 10px;

  &.dimmed {
    button {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }

  input {
    width: 90%;
    padding: 10px;
  }

  button {
    width: 10%;
    padding: 10px;
    background-color: white;
    border: 1px solid gray;
    cursor: pointer;
  }
}
